.details-wrapper {
    display: flex;
}

.today {
    font-size: 2rem;
    font-weight: 500;
}

.small-cal {
    flex: 1; /* 작은 달력 영역 */
    max-width: 500px; /* 달력 최대 너비 설정 */
    transform: scale(0.6); /* 달력 크기 축소 */
}

.details-content {
    flex: 3; /* 디테일 콘텐츠 영역 */
}