.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

&.checked {
    .item-text {
        color: #adb5bd;
        text-decoration: line-through;
    }
}

.item-inside {
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.item-text {
    max-width: 370px;
}