
.details-wrapper .cal-top {
    margin-top: 20px !important;
}

.details-wrapper .cal-week {
    gap: 3vh !important;
}

.small-cal {
    flex: 1; /* 작은 달력 영역 */
    display: flex;
    transform: scale(0.7); /* 달력 크기 축소 */
    margin-top: -80px;
}

.details-content {
    flex: 3; /* 디테일 콘텐츠 영역 */
    text-align: start;
}

.today {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 15px;
}

.list {
    height: 80%;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 40px;
}

.list-body {
    border: 1px solid #000;
    width:500px;
}